# Ruff config for this Home Assistant custom integration
target-version = "py313"
line-length = 88
src = ["custom_components"]
unsafe-fixes = true
indent-width = 4

[lint]
# Base: pycodestyle (E), pyflakes (F)
# Plus: isort (I), pyupgrade (UP), bugbear (B), simplify (SIM)
# Start with core correctness + imports
select = ["E","F", "I", "UP", "B", "SIM"]
#select = ["E4", "E7", "E9", "F", "I", "UP", "B", "SIM"]
# Ignore long lines initially; ruff format will wrap many cases
#select = ["E","F","W","I","UP","B","SIM","RUF","PERF","FURB","N","TID","TD","FA","RET"]
ignore = ["E501"]
fixable = ["ALL"]
# Allow fix for all enabled rules (when `--fix`) is provided.
unfixable = []
extend-ignore = [
    "INP001", # File is part of an implicit namespace package. Add an `__init__.py`.
]

[lint.per-file-ignores]
# Common package patterns
"__init__.py" = ["F401", "F403", "E402"]
"tests/**" = ["E402", "F401"]
"scripts/**" = ["E402", "F401"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
docstring-code-format = true
# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false
