# Ruff config for this Home Assistant custom integration
target-version = "py313"
line-length = 88
src = ["custom_components"]
#unsafe-fixes = true

[lint]
# Base: pycodestyle (E), pyflakes (F)
# Plus: isort (I), pyupgrade (UP), bugbear (B), simplify (SIM)
# Start with core correctness + imports
#select = ["E4", "E7", "E9", "F"]
# Ignore long lines initially; ruff format will wrap many cases
select = ["E","F","W","I","UP","B","SIM","RUF","PERF","FURB","N"]
ignore = ["E501","D100","D101","D102","D103","D104","D105","D106","D107"]
#ignore = ["E501"]
#select = ["E", "F", "I", "UP", "B", "SIM"]
fixable = ["ALL"]
extend-select = ["D200","D205"]

#[lint.per-file-ignores]
# Common package patterns
#"__init__.py" = ["F401", "F403", "E402"]
#"tests/**" = ["E402", "F401"]
#"scripts/**" = ["E402", "F401"]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
docstring-code-format = true
