name: Workflow for Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Set up Python 3.14
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
           pip install pip --upgrade pytest pytest-cov codecov-cli
           pip install -r requirements_test.txt
           pip install -r requirements.txt
      - name: Run tests and collect coverage
        run: pytest --cov app
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
