name: hassfest
on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 3 * * *"

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: home-assistant/actions/hassfest@master
