name: pre-commit
on:
  schedule:
    - cron: "0 5 * * 1"
  workflow_dispatch:


permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  pre-commit:
    uses: ./.github/workflows/reusable-pre-commit.yml
    with:
      python-version: ${{ vars.PYTHON_VERSION != '' && vars.PYTHON_VERSION || '3.13' }}
